.container {
	display: flex;
	background-color: #FF8630;
	flex-wrap: nowrap;
}

.item {
	flex-grow: 1;
	flex-basis: 0;
	flex-wrap
}

}
/body
.hero {
	height: 100vh;
	background-color:  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 33%, rgba(0,212,255,1) 100%); ;
	background-size: cover;
	background-position: center;
	display:flex;
	justify-content: center;
	align-content: center
}

 hero h1{
 	margin: 0;
 	font-size: 150px
 }