body{
	margin: 0;
	font-family: 'Inter'
	font-style: normal;
	font-weight:400
	box-sizing: content-box; 

}
 header {
 	display: flex;
 	margin: 0 auto 56px;
 }

 .header_item{
 	flex-grow:1 ;
 	flex-basis:center ;
 }
 .left {
 	background-color: #123;
 }

 .main{
 	display: flex ;
}
.