 
body {

	background: linear-gradient(90deg, rgba(9,30,121,1) 25%, rgba(2,0,36,1) 50%, rgba(184,0,255,1) 75%);
}

.text-center {
	text-align: center;
	color: grey ;

}

.menu{
	display: flex;
	justify-content: center;
	justify-content: space-around;
	color: white ;


}